:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --ocean: #404bbf;
  --slate: #434455;
  --white: #fff;
}

/*CSS Reset*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/* General Styles*/

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--slate);
}

.list {
  list-style: none;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.logo {
  color: var(--iris);
}

.button {
  border-color: transparent;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
}

.button.primary {
  color: white;
  background-color: var(--iris);
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 16px 32px 16px 32px;
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--ocean);
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
  color: var(--navyblue);
  text-align: center;
}

.section {
  padding: 120px;
}

.container {
  width: 1158px;
  margin: 0 auto;
}

/* Header */

.studio {
  color: var(--navyblue);
}

.nav-menu .page {
  font-weight: 500;
  color: var(--navyblue);
  text-decoration: none;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: 40px;
}

.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .item:hover,
.contacts-menu .item:focus {
  color: var(--iris);
}

.page-header {
  display: flex;
  padding: 24px 120px 24px 120px;
  justify-content: space-between;
}

.nav {
  display: flex;
  gap: 55px;
}

.nav-menu.list {
  display: flex;
}

.nav-menu:last-child {
  margin-right: 300px;
}

.contacts-menu.list {
  display: flex;
}

.contacts-menu .item {
  color: var(--slate);
  text-decoration: none;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: 40px;
}

.bg-hero {
  background-color: var(--navyblue);
  text-align: center;
}

/* Hero Section - Section 1 */

/* .hero {
  background: var(--navyblue);
  text-align: center;
} */

.hero-title {
  font-size: 56px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.04em;
  color: var(--white);
  padding-bottom: 48px;
}

/* Benefits - Section 2 */

.benefits .title {
  font-size: 20px;
  font-weight: 500;
  color: var(--navyblue);
}

.benefits .description {
  color: var(--slate);
  line-height: 1.71;
  font-size: 16px;
  font-weight: 400;
}

.benefits.list {
  display: flex;
  gap: 24px;
}

/* What We Do - Section 3*/

.what-we-do.list {
  display: flex;
  gap: 24px;
  padding-top: 72px;
  justify-content: space-between;
}

.what-we-do.card {
  border: 1px solid var(--cornflower);
}

/* Our Team - Section 4 */

.bg-team {
  background: var(--cloud);
}

.team .name {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  padding-top: 32px;
  text-align: center;
}

.team .position {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  padding-top: 8px;
  text-align: center;
  padding-bottom: 32px;
}

.team.list {
  display: flex;
  gap: 24px;
  padding-top: 72px;
  justify-content: space-between;
}

.team-card {
  border: 1px solid var(--cornflower);
  background: white;
}

/* Footer */

.page-footer.bg-footer {
  background: var(--navyblue);
}

.page-footer {
  padding: 101.5px 120px 100px 120px;
}

.studio-footer {
  color: var(--cloud);
}

.footer-description {
  color: var(--cloud);
  padding-top: 17.5px;
}

/* Portfolio Page */

.filters.list {
  display: flex;
  justify-content: center;
  padding: 96px 24px 72px 24px;
}

.button.filter {
  background: var(--cloud);
  color: var(--iris);
  font-weight: 500;
  line-height: 1.62;
  font-size: 16px;
  margin-left: 12px;
  margin-right: 12px;
  padding: 12px 24px 12px 24px;
}

.button.filter:hover,
.button.filter:focus,
.button.filter.current {
  background: var(--ocean);
  color: var(--cloud);
}

.project .name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: var(--navyblue);
  padding-top: 32px;
  padding-left: 16px;
}

.projects .type {
  color: var(--slate, #434455);
  font-weight: 400;
  line-height: 1.5;
  padding-top: 16px;
  padding-bottom: 32px;
  padding-left: 16px;
}

.project {
  text-decoration: none;
}

.projects.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 120px;
}

.project-card {
  border: 1px solid var(--cornflower);
}

.project-card:nth-child(-n + 6) {
  margin-bottom: 32px;
}
